<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    
<style>
#k{
   text-decoration:none;
 }
</style>
	
	
	

    <title>PROJECT 3</title>
  </head>
  <body>
     
        <div class="container-fluid">
		     <div class="row">
			 	
		     
				
				<div class="col-md-12">
				     <h3 style="background-color:#808B96"> Other Projects and Internships </h3>
					 <ul class="list-group">
                       <li class="list-group-item">TIC-TAC-TOE game using Objective Oriented Programming Methodology(JAVA)
                       </li>
                       <li class="list-group-item">Simple Calculator using LABVIEW</li>
                       <li class="list-group-item">Car parking system using Ultrasonic Sensor controlling Servo Motor</li>
                       <li class="list-group-item">Hand Gesture Control robot using Arduino.</li>
                       <li class="list-group-item">MACHINE LEARNING USING PYTHON and BASICS OF PYTHON (Enduvance-IBM watson Internship)</li>
                    </ul>
					<h3 style="background-color:#808B96"> Additional Information</h3>
					<ul class="list-group">
					  <li class="list-group-item">Preferred Programming Language: PYTHON</li>
					  <li class="list-group-item">INTERESTS:
                                       <br>   Internet Surfing.
                                          <br> Adventure Sports.
                                          <br> Traveling.
                                           <br> Social Service
                       </li>
					  <li class="list-group-item">PERSONAL INFORMATION:
					                      <br>Date Of Birth:01/11/1997
										  <br>Languages Known: Marathi,Hindi and English
                      </li>
					  <li class="list-group-item"></li>
					  <li class="list-group-item"></li>
                    </ul>
					
				</div>
			</div>
			
		</div>
		
		<script src="jquery.min.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    
	    <script src="bootstrap.min.js"></script>		
		
		
		
	</body>
	
</html>