<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
  
<style>
#k{
   text-decoration:none;
 }
</style>
	
	
	

    <title>PROJECT 2</title>
  </head>
  <body>
     
        <div class="container-fluid">
		     <div class="row">
			 	
		
			
			
				<div class="col-md-12" >
				   <h3 style="background-color:#808B96 ;"> Blind Reader    </h3>
				   <h6> BE Final Year Project </h6>
				   <p>The main intention of this project is to help the persons in the technical resolutionsand to help visually impaired persons to assess all the knowledge which are written in the text format into their knowledge and data also.
				   </p>
				   <p> The main part of the system is the camera module which captures the image placed infront of the webcam and that system is connected to the raspberry pi which is also a mini computer toUSB connector. Raspberry pi module is employed here as an important part of the system to methodthe image and it works internally.
				   </p>
				   
				     <ul class="list-group">
                      <li class="list-group-item disabled">FEATURES</li>
                      <li class="list-group-item">It helps Visually impaired students in their education </li>
                      <li class="list-group-item">It requires less consumption of time in recognizing and reading text with lower
                       operational costs also text of different fonts can be recognized</li>
                      <li class="list-group-item">High Accuracy</li>
                      <li class="list-group-item">It can be executed easily</li>
                     </ul>
				    
				     <b>CHECK MY WORK HERE: </b> 
				</div>
				<div class="col-md-6">
					<iframe src="assets/Project/po.pdf" style="width:800px;height: 500px;border: none;"></iframe>
				</div>
				
		    </div>
		</div>
		
		      <script src="jquery.min.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    
	    <script src="bootstrap.min.js"></script>		
		
		
		
	</body>
	
</html>
